body{
}
.extension-hide{
    display: none !important;
}
.extension-show{
    display: block !important;
}
.aadl-auto-refresh-button{
    
    display: block;
    min-height: 75px;
    width: auto;
    min-width: 477px;
    width: 477px \9;
    height: auto;
    min-height: 75px;
    background-color: #8d21f1;
    border-radius: 70px;
    margin-top: 10px;
    color:white;
    font-size:35px;
}

.aadl-auto-refresh-counter{   
    position: relative;
    left: -34px;
    right: auto;
    font-size: 28px;
}
.disabled{
    opacity: 0.5 !important;
    pointer-events: none !important;
}
